.filters {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 20px 0;
}

.filter {
    background: #f0eef7;
    color: #777;
    padding: 8px 14px;
    border-radius: 20px;
    transition: 0.3s;
}

.filter:hover {
    transform: translateY(-2px);
}

.filter.active {
    background: #9575cd;
    color: white;
}


